/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5; /* Light gray background for the body */
  color: #333; /* Dark gray text color */
}

/* Container for tasks */
#tasksContainer {
  padding: 20px;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

/* Style for the folderSelect dropdown */
.folderSelect {
  max-width: 340px; /* Adjust to your preferred width */
  width: 100%;
  margin-bottom: 10px; /* Adds space between the dropdown and the button */
}

.buttonsContainer{
display: flex;
}
/* Style for the upload button */
.uploadButton {
  margin-top: 10px; /* Adds some space above the button */
  padding: 5px 10px;
  cursor: pointer;
}

/* Style for the file input */
.fileInput {
  margin-top: 10px; /* Adds some space above the file input */
}

/* Feedback messages */
#feedbackMessage {
  display: none;
  position: fixed; /* Fix position to the viewport */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Offset by 50% of its width and height to truly center */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #fff;
  z-index: 1000; /* Ensure it is on top of other elements */
}

/* Visible feedback message */
#feedbackMessage.visible {
  display: block;
}

/* Success message */
#feedbackMessage.success {
  background-color: #28a745; /* Green for success */
}

/* Error message */
#feedbackMessage.error {
  background-color: #dc3545; /* Red for error */
}

/* Task form */
#taskForm {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#taskDescription {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#taskCategory {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing as needed */
}

.header-container h2 {
  color: #333;
  border-bottom: 2px solid #ff6600; /* Orange underline */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#filtersContainer {
  display: flex;
  gap: 10px; /* Space between the input and select */
}

#filtersContainer input,
#filtersContainer select {
  padding: 5px;
  font-size: 14px;
}

#nameFilter, #statusFilter, #customStateFilter {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Buttons */
button {
  background-color: transparent; /* Transparent background for outline style */
  color: #ff6600; /* Orange text color */
  border: 2px solid #ff6600; /* Orange border */
  padding: 6px 12px; /* Adjust padding to be similar to is-xsmall */
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 12px; /* Adjust font size to be similar to is-xsmall */
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

/* Button hover state */
button:hover {
  background-color: #ff6600; /* Orange background on hover */
  color: #fff; /* White text color on hover */
}

/* Task categories */
.category {
  margin-bottom: 20px;
}

.category h2 {
  color: #333;
  border-bottom: 2px solid #ff6600; /* Orange underline */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* Tasks */
.task {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.task span {
  font-size: 16px;
  margin-bottom: 10px;
}


/* State colors */
.task.to-do {
  border-left: 5px solid #42a5f5; /* Blue for To Do */
  border-right: 5px solid #42a5f5;
}

.task.in-progress {
  border-left: 5px solid #ff6600; /* Orange for In Progress */
  border-right: 5px solid #ff6600;
}

.task.for-print {
  border-left: 5px solid #ef5350;
  border-right: 5px solid #ef5350;
}

.task.to-check {
  border-left: 5px solid #ffb74d; 
  border-right: 5px solid #ffb74d;
}

.task.done {
  border-left: 5px solid #66bb6a; /* Green for Done */
  border-right: 5px solid #66bb6a;
}

.task.completed {
  text-decoration: line-through;
  opacity: 0.6;
}
/* Ensure consistent minimum width for all state buttons */
button.state-btn {
  border: 2px solid;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  cursor: pointer;
  margin: 0 5px;
  transition: all 0.3s ease;
  text-align: center;
  color: #fff;
  min-width: 100px; /* Adjust based on your longest button text or design requirement */
}

/* State colors */
button.state-btn.to-do {
  --button-color: #007bff; /* Blue for To Do */
}

button.state-btn.in-progress {
  --button-color: #ff6600; /* Orange for In Progress */
}

button.state-btn.done {
  --button-color: #28a745; /* Green for Done */
}

button.state-btn {
  background-color: var(--button-color);
  border-color: var(--button-color);
}

/* Button hover state */
button.state-btn:hover {
  background-color: #fff; /* White background on hover */
  color: var(--button-color); /* Color text */
  border-color: var(--button-color); /* Border color on hover */
}

/* Show contents button */
button.showContents {
  background-color: transparent; /* Transparent background for outline style */
  color: #007bff; /* Blue text color */
  border: 2px solid #007bff; /* Blue border */
}

button.showContents:hover {
  background-color: #007bff; /* Blue background on hover */
  color: #fff; /* White text color on hover */
}

/* Content list */
ul.contents {
  list-style-type: disc;
  padding-left: 20px;
}

ul.contents.hidden {
  display: none;
}

.uploadContainer.hidden{
  display: none;
}

.hidden{
  display: none;
}

ul.contents li {
  margin-bottom: 5px;
}

ul.contents li a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
}

ul.contents li a:hover {
  text-decoration: underline;
}

/* Reset button */
#resetButton {
  background-color: transparent; /* Transparent background for outline style */
  color: #dc3545; /* Red text color */
  border: 2px solid #dc3545; /* Red border */
}

#resetButton:hover {
  background-color: #dc3545; /* Red background on hover */
  color: #fff; /* White text color on hover */
}

.notesContainer.hidden {
  display: none;
}

.notesContainer {
  margin-top: 10px;
}

.notesContainer h3 {
  margin-bottom: 5px;
}

.stateButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  width: 115px;
}

#showContentsButton {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #42a5f5;
}

.notesInput {
  width: 95%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.saveNotes, .clearNotes {
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text */
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.saveNotes:hover, .clearNotes:hover {
  background-color: #0056b3; /* Darker blue on hover */
}



